.field-card{
    display: flex;
    border-radius: 0.5em;
    width: 95%; 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.field-picture{
    width: 300px;
    border-radius: 0.5em;
    object-fit: contain;
    background-color: var(--mid-green);
}

.field-picture img{
    width: 100%; 
    height: 100%; 
    border-radius: 1em;
}

.field-details{
    padding: 2em; 
}