:root {
  --dark-green: #4f6f52;
  --mid-green: #739072;
  --light-green: #86a789;
  --mint: #d2e3c8;
}

.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  padding: 1em;
  height: 100vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar-closed {
  width: 100px;
  background-color: var(--dark-green);
  height: 100vh;
  padding: 1em;
}

.navbar button {
  background-color: white;
  border-color: var(--dark-green);
  border: 2px solid;
  padding: 1em;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 3em;
}

.navbar button:hover {
  background-color: var(--dark-green);
  color: white;
}

.logo-container {
  width: 90%;
  margin: auto;
}

.dashboard {
  width: 100%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  overflow-y: scroll;
}

.profile-container {
  display: flex;
  background-color: #4f6f52;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
  gap: 2em;
  margin: 2em 0;
}

.profile-logo-container {
  width: 80px;
  background-color: white;
  height: 80px;
  object-fit: fill;
  border-radius: 100%;
}


.profile-logo-container img{
  border-radius: 100%;
  width: 100%; 
}


.profile-details-container h3 {
  color: white;
}

.add-field{
    display: flex;
    align-items: center;
    gap: 1em; 
    padding: 1em; 
}

.add-field:hover{
    background-color: rgb(245, 245, 245);
}

.add-field h3{
    color: black; 
    text-decoration: none;
}