:root {
    --dark-green: #4F6F52;
    --mid-green: #739072;
    --light-green: #86A789;
    --mint: #D2E3C8;
  }
.Home{
    display: grid;
    width: 100%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "nav page";
    font-family: "Inter", sans-serif;
}
.nav{
    grid-area: "nav";
    display: grid;
    grid-template-rows: 90% 10%;
    width: 100%;
    height: 100vh;
    border-right: 1px solid #4F6F52;
}
.page{
    grid-area: "page";
}
.homeLogo{
    margin: 1rem;
}
.logOutButton{
    width: 90%;
    margin: 5%;
    padding: 3%;
    background-color: #4F6F52;
    color: white;
    border: none;
    font-size: 15px;
}
.logOutBox{
    height: 100%;
}
.logOutButton:hover{
    background-color: black;
}
.funcionalities{
    display: inline;
    justify-content: center;
}
.newFieldButton{
    margin-top: 3rem;
    width: 80%;
    margin-left: 10%;
    padding: 0.5rem;
    border: none;
    background-color: white;
    font-size: 16px;
    box-shadow: 2px 5px 10px #888888;
    border: 2px solid #4F6F52;
}
.newFieldButton:hover{
    background-color: #4F6F52;
    color: white;
}
.page{
    display: grid;
    grid-template-rows: 5% 95%;
}
.pageTitleBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageTitle{
    font-size: 24px;
    margin-bottom: 3%;
}
.bigDataBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    gap: 3rem;
}
.dataBox{
    border: 1px solid grey;
    width: 60rem;
    height: 45rem;
    border-radius: 30px;
    border:  none;
    box-shadow: 5px 10px 18px #888888;
}